@page "/Admin"
@using MyBlazorApp.Data
@inject AdminService adminService

<h1>Dashboard</h1>
@if (sales is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>Product</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in sales)
            {
                var price = sale.Product.Price * sale.Quantity;
                <tr>
                    <td>@sale.User.UserName</td>
                    <td>@sale.User.Email</td>
                    <td>@sale.Product.Name</td>
                    <td>@price</td>
                    <td>@sale.Date</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    IEnumerable<Sale> sales;
    protected override async Task OnInitializedAsync()
    {
        sales = (await adminService.GetSalesWithDetails()).OrderByDescending(s => s.Date);
    }
}
